---
name: CI

on:
  pull_request:
    types:
      - closed

jobs:
  Close:
    if: github.event.pull_request.merge == true
    runs-on: [self-hosted, linux]

    steps:
      - name: Checkout sources
        uses: actions/checkout@v4

      - name: Set up SSH
        run: |
          mkdir -p ~/.ssh
          echo '${{ secrets.DEV_DEPLOY_PRIVATE_KEY }}' >> ~/.ssh/id_rsa
          chmod 600 ~/.ssh/id_rsa

      - name: Close PR
        if: ${{ !(contains(github.ref, 'ref/tags/')) }}
        run: |
          export MODE='Close'
          export ENV='${{ github.event.number }}'
          ssh -o SendEnv=MODE -o SendEnv=ENV -i ~/.ssh/id_rsa gh-runner@192.168.80.21

      - name: Clear up
        run: rm ~/.ssh/id_rsa
