---
name: Close Container

on:
  pull_request:
    types:
      - closed

jobs:
  Close:
    runs-on: [self-hosted, linux]

    steps:
      - name: Checkout sources
        uses: actions/checkout@v4

      - name: Set up SSH
        run: |
          mkdir -p ~/.ssh
          echo '${{ secrets.DEV_DEPLOY_PRIVATE_KEY }}' >> ~/.ssh/id_rsa
          chmod 600 ~/.ssh/id_rsa

      - name: Close PR
        env:
          title: ${{ github.event.pull_request.title }}
        run: |
          export MODE='Close'
          export ENV='${{ github.event.number }}'
          export DRAFT='${{ github.event.pull_request.draft }}'
          export TITLE='${{ env.title }}'
          ssh -o SendEnv=MODE -o SendEnv=ENV -o SendEnv=TITLE -o SendEnv=DRAFT -i ~/.ssh/id_rsa gh-runner@192.168.80.21

      - name: Clear up
        run: rm ~/.ssh/id_rsa
